.git
.pytest_cache
__pycache__
*.pyc
*.pyo
node_modules
frontend/node_modules
frontend/dist
.DS_Store
*.egg-info
outputs/
data/uploads/*
data/processed/*
!data/uploads/.gitkeep
!data/processed/.gitkeep
notebooks/
.env
*.zip
